*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.card1-background{
  background-image:url("../images/cafe.jpg");
  background-size: 420px;
  background-repeat: no-repeat;
}
.card2-background{
  background-image:url("../images/birthday.jpg");
  background-size: 420px 276px;
  background-repeat: no-repeat;
}
.card3-background{
  background-image:url("../images/platter.jpeg");
  background-size: 420px 276px;
  background-repeat: no-repeat;
}
.card {
  height: 236px;
  width: 420px;
  margin:8px;
  margin-left: 40px;
  position: inherit;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  background-color: #79c1b8;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  transition: height 0.5s;
  float:left;
}
.card:hover{
  opacity: 1;
  height:450px;
}
{
  opacity:1;
}
.card .title{
  padding: 0px;
  color:black;
  opacity:0.65;
  font-family: 'Jua', sans-serif;
  font-size: 15px;
  margin: 0 0 0 0;
  position: relative;
  z-index: 0;
  width: 100%;
  top: 20px;
  left: 0;
  background-color: white;
  width: 100%;
  height:50px;
}
.card .title h1{
  padding: 10px;

}


.card:hover .white-cover{
  opacity: 0.7;
}

.card .white-cover {
  background-color: white;
  width: 100%;
  height: 55px;
  top:145px;
  position:relative;
  opacity: 0;
  transition: opacity 1s;
  padding-top:5px;
  font-size: 20px;
  font-family: 'Jua', sans-serif;
}

.card-detail {
  width: 100%;
  position: relative;
  top: 60px;
  height:200px;
  padding:0 40px;
  font-family: 'Gaegu', cursive;
  font-size: 20px;
  color: #ffffff;
  line-height: 24px;
  z-index: 50;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: top 1s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
/* .card:hover .card-detail{
  opacity: 1;
  top :165px;
} */
